<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="FILE" fileName="logs/app.log" >
            <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true" />
        </File>
        <Console name="Console" target="SYSTEM_OUT">

        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="FILE"/>
        </Root>
        <Logger name="org.springframework.boot" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>